@import "tailwindcss";

:root {
  --background: #f3f4f6;
  /* zinc-100 */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-stripe-light {
    background-image: repeating-linear-gradient(to bottom, #e5e7eb 0, #e5e7eb 4px, transparent 4px, transparent 10px);
  }

  .bg-stripe-gray {
    background-image: repeating-linear-gradient(to bottom, #f1f5f9 0, #f1f5f9 4px, transparent 4px, transparent 10px);
  }
}